In [129]:
from sklearn.cluster import KMeans
import pandas as pd

# загрузка данных о матчах
matches_data = pd.read_csv('example.csv')

# выбор столбцов, содержащих результаты и статистику матчей
X = matches_data[['Full time home goals', 'Full time away goals']]

# создание модели KMeans с 6 кластерами
kmeans = KMeans(n_clusters=6)

# применение модели к данным
kmeans.fit(X)

# получение меток кластеров для каждого матча
labels = kmeans.predict(X)

# добавление меток кластеров в исходные данные
matches_data['cluster'] = labels

# вывод результатов
matches_data

,Div,Date,HomeTeam,AwayTeam,Full time home goals,Full time away goals,Full time result,Half time home goals,Half time away goals,Half time result,...,Betbrain average >2.5,Betbrain max <2.5,Betbrain average <2.5,Betbrain Asian bookies,Betbrain Asian home handicap,Betbrain max Asian home odds,Betbrain average Asian home odds,Betbrain max Asian away odds,Betbrain average Asian away odds,cluster
0,E0,13/08/05,Aston Villa,Bolton,2,2,D,2,2,D,...,2.01,1.87,1.70,22,-0.25,2.10,2.01,1.92,1.84,2
1,E0,13/08/05,Everton,Man United,0,2,A,0,1,A,...,1.93,1.87,1.79,23,0.75,2.05,2.00,1.93,1.86,4
2,E0,13/08/05,Fulham,Birmingham,0,0,D,0,0,D,...,2.04,1.77,1.69,21,0.00,1.85,1.81,2.11,2.05,0
3,E0,13/08/05,Man City,West Brom,0,0,D,0,0,D,...,1.94,1.90,1.77,23,-0.75,2.19,2.10,1.83,1.76,0
4,E0,13/08/05,Middlesboro,Liverpool,0,0,D,0,0,D,...,2.02,1.80,1.71,21,0.25,1.89,1.86,2.04,2.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,07/05/06,Fulham,Middlesboro,1,0,H,0,0,D,...,2.00,1.80,1.74,20,-0.75,1.88,1.81,2.10,2.05,0
376,E0,07/05/06,Man United,Charlton,4,0,H,3,0,H,...,1.67,2.20,2.08,20,-1.75,1.93,1.90,2.04,1.96,5
377,E0,07/05/06,Newcastle,Chelsea,1,0,H,0,0,D,...,2.08,1.70,1.67,20,0.00,2.15,2.09,1.83,1.76,0
378,E0,07/05/06,Portsmouth,Liverpool,1,3,A,0,0,D,...,1.96,1.85,1.76,20,0.75,2.19,2.12,1.83,1.76,1
379,E0,07/05/06,West Ham,Tottenham,2,1,H,1,1,D,...,2.04,1.80,1.71,19,0.75,2.00,1.91,2.00,1.96,3

In [182]:
c = [0, 0, 0, 0, 0, 0]

In [183]:
for i in range(len(matches_data['cluster'])):
    for k in range(6):
        if matches_data['cluster'][i] == k:
            c[k] += 1
            break

In [184]:
c

[118, 27, 44, 85, 84, 22]

In [185]:
h = [0, 0, 0, 0, 0, 0]

In [186]:
for i in range(len(matches_data['Full time home goals'])):
    for k in range(6):
        if matches_data['cluster'][i] == k:
            if matches_data['Full time home goals'][i] > 1.5:
                h[k] += 1

In [187]:
h

[0, 10, 44, 85, 0, 22]

In [188]:
res_h = []

for i in range(len(h)):
    res_h.append(h[i] / c[i])

In [189]:
res_h

[0.0, 0.37037037037037035, 1.0, 1.0, 0.0, 1.0]

In [201]:
aw = [0, 0, 0, 0, 0, 0]

In [202]:
for i in range(len(matches_data['Full time away goals'])):
    for k in range(6):
        if matches_data['cluster'][i] == k:
            if matches_data['Full time away goals'][i] > 1.5:
                aw[k] += 1

In [203]:
aw

[0, 27, 28, 0, 56, 0]

In [204]:
res_aw = []

for i in range(len(a)):
    res_aw.append(aw[i] / c[i])

In [205]:
res_aw

[0.0, 1.0, 0.6363636363636364, 0.0, 0.6666666666666666, 0.0]

In [195]:
tot = [0, 0, 0, 0, 0, 0]

In [196]:
for i in range(len(matches_data['Full time home goals'])):
    for k in range(6):
        if matches_data['cluster'][i] == k:
            if matches_data['Full time home goals'][i] + matches_data['Full time away goals'][i] > 2.5:
                tot[k] += 1

In [197]:
res

[28, 26, 68, 15, 34, 0]

In [198]:
c

[118, 27, 44, 85, 84, 22]

In [199]:
res_tot = []

for i in range(len(h)):
    res_tot.append(tot[i] / c[i])

In [ ]:
res_tot

[0.0, 1.0, 1.0, 0.5294117647058824, 0.39285714285714285, 1.0]